<!-- footer는 include를 통해 base에 포함시킴
바로 작성해도 되지만 include를 사용하면 유지보수가 용이 -->
<footer>
    <div class="list">
        <ul>
            <li><a href = "#">소개</a></li>&nbsp;
            <li><a href = "#">블로그</a></li>&nbsp;
            <li><a href = "#">채용정보</a></li>&nbsp;
            <li><a href = "#">도움말</a></li>&nbsp;
            <li><a href = "#">API</a></li>&nbsp;
            <li><a href = "#">개인정보처리방침</a></li>&nbsp;
            <li><a href = "#">약관</a></li>&nbsp;
            <li><a href = "#">인기 계정</a></li>&nbsp;
            <li><a href = "#">해시태그</a></li>&nbsp;
            <li><a href = "#">위치</a></li>
        </ul>
    </div>
    <br>
    <div class="company">@ 2021 Djangogram from SH</div>
</footer>