@import "bourbon";

body {
    background: #fafafa;
    display: flex;
    flex-direction: column;
}

.content {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* auth */
.auth {
    background-color: white;
    width: 350px;
    height: 380px;
    border: 1px solid #efefef;
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
}

.auth form {
    width: 348px;
    height: 260px;
    margin: 24px 0px 0px;
}

.auth-heading {
    text-align: center;
    width: 175px;
    height: 51px;
    margin: 22px 86.5px 12px;
    font-family: 'Cedarville Cursive', cursive;
}

.auth-heading,
.checkbox {
  margin-bottom: 30px;
}

.auth-login1 input, 
.auth-login2 input {
    width: 258px;
    height: 36px;
    display: flex;
    flex-direction: column;
    align-self: center;
    margin: auto;
    font-size: 14px;
    position: relative;
    /* width: 100%; */
    margin-bottom: 10px;
    background: #FAFAFA;
    background-color: #FAFAFA;
    border: 1px solid #efefef;
    padding: 9px 0px 7px 8px;
}

/* .auth form input:last-child {
    margin-top: 10px;
    background: #fafafa;
    padding: 9px 0px 7px 8px;
} */

.auth-login-checkbox {
    width: 268px;
    height: 29.6px;
    margin: 8px 40px;
}

.auth-login3 button {
    width: 268px;
    height: 29.6px;
    margin: 8px 40px;
    vertical-align: baseline;
    color: #8e8e8e;
}

/* Sign up, Login Link */
.auth_link {
    background-color: white;
    width: 350px;
    height: 50px;
    border: 1px solid #efefef;
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    text-align: center;
    margin-top: 50px;
    font-family: 'Roboto', sans-serif;
    margin: auto;
}

/* footer */
footer {
    width: 924.8px;
    height: 77.2px;
    order: 5;
    text-align: center;
    margin:0 auto;
    padding: 0 0 0 400px;
}

footer .list {
    width: 924.8px;
    height: 20.2px;
    justify-content: center;
}

footer ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

footer ul li a {
    color: #8e8e8e;
    text-decoration: none;
    font-family: 'Noto Sans KR', sans-serif;
    margin: -2px 0px -3px;
    flex: 0 0 auto;
    font-size: 12px;
    line-height: 14px;
}

footer .company {
    color: #8e8e8e;
    width: 924.8px;
    height: 8.6px;
    font-size: 12px;
    line-height: 14px;
    margin: -2px 0 -3px;
    font-family: 'Roboto', sans-serif;

    text-align: center;
    align-items: stretch;
}

